.hero {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: block;
}

.mask {
    width: 100%;
    height: 100vh;
    position: relative;
}

.content p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    animation-name: appear;
    animation-duration: 1.5s;
}


.hero-img {
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    text-shadow: 2px 2px 2px black;
    animation-name: appear;
    animation-duration: 1.5s;
}

.content .btn {
   margin-right: 2rem;
   
}
@keyframes appear {
    from { transform: translateX(20rem) }
    to {   transform: translateY(0)}
  }

@media screen and (max-width: 390px) {
    .hero .content h1 {
        font-size: 3rem;
    }
    .hero .content p {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1008px) {
    @keyframes appear {
        from { transform: translateX(100rem) }
        to {   transform: translateY(0)}
      }
}