.hero-img2 {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 60vh;
    position: relative;
}

.hero-img2::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1623181748498-f29149fd4214?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img2 h1 {
    font-size: 2.4rem;
}
.hero-img2 p {
    font-size: 1.4rem;
}

@media screen and (max-width: 640px) {
    .hero-img2 h1 {
        font-size: 2rem;
    }
   
}

@media screen and (max-width: 418px) {
    .hero-img2 h1 {
        text-align: center;
    }
   
}