@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: black
}

h1, h4, p, a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 10px 24px;
  font-size: 1rem;
  text-transform: capitalize;
  background: #339af0;
  color: #222;
  border: 2px solid white;
  font-weight: 500;
  cursor: pointer;
}
.btn-light {
  background: transparent;
  color: white;
}

.btn:hover {
  background: #e7f5ff;
  color: white;
  transition: .5;
}
